.selected-show-img {
	background-repeat:no-repeat;
	background-size:cover;
	height:500px;
    width:100%;
    z-index: 2;
    background-position: center;
    overflow: hidden;
}

.layover {
    position: relative;
    z-index: 1;
    margin-top: -251px;
}

#more {display: none;}

.btn {
    padding: 0;
    border: none;
    background: none;
    color: #8B0000;
}

.background {
    background-color: #D3D3D3;
    width: 650px;
    height:450px;
}

.img-restaurant {
    width: 600px;
    height: 400px;
}

.layover-restaurant {
    position: relative;
    z-index: 1;
    margin-top: -251px;
}

.padding {
    padding-left: 135px;
    padding-right: 135px;
}