#oriustheatre {
  background: url("../../assets/theatre.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.bg-color {
  background-color: #8B0000;
  height: 200px;
}

 .bg-shade-black {
  background-color: #1a1a1a;
}

.image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:auto;
  padding:0;
  height: 45vh;
}

#meals {
  background: url("../../assets/food.jpg") no-repeat center fixed;
}

#history {
  background: url("../../assets/history.jpg") no-repeat center center fixed;
}

#shop {
  background: url("../../assets/shop.jpg") no-repeat center center fixed;
}