.background {
  background-color: #8B0000;
}

.image {
  height: 150px;
  width: 250px;
}

.btn {
  background-color:#8B0000;
}

 .btn:hover {
  background-color: rgb(170, 2, 2);
  border: rgb(170, 2, 2);
}