.link,
.navbar-brand {
  color: black;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-link {
  color: black;
  border-right: 1px solid black;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 15px;
}

.navbar-brand:hover,
.link:hover,
.icons:hover,
.nav-link:hover {
  color: #8B0000;
  text-decoration: none;
}

.icons {
  margin-left: 25px;
  color: black;
  cursor: pointer;
}

.caret-off::before, .caret-off::after {
  display: none;
}

.btn {
  background-color: white;
  border: none;
}

.btn:hover {
  background-color: white;
  border: none;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: white
}

.show > .btn-secondary.dropdown-toggle {
  background-color: white;
  border: none;
}
