.selected-product-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 450px;
    background-position: center;
    overflow: hidden;
}

.display {
    display: -webkit-box !important;
}